@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  *,
  body,
  html {
    @apply antialiased;
    cursor: url("./assets/images/cursor.png"), url("./assets/images/cursor.png"),
      auto;
    font-family: "Mulish", sans-serif;
  }
  body {
    @apply bg-base-color;
  }
  li {
    @apply list-none;
  }
}
@layer components {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* ------------ Search component --------------*/
  .search-input {
    @apply w-full z-10 border-2 border-transparent px-4 py-2 outline-none rounded bg-blue-dark text-white hover:bg-hover-input-dark xl:text-base text-sm;
  }
  .search-icon {
    @apply h-6 w-6 text-white absolute right-4 -top-3  z-10;
  }
  /* ------------ Slider component --------------*/
  .slider-prev-icon,
  .slider-next-icon {
    @apply z-40 xl:w-12 xl:h-12 lg:w-11 lg:h-11 md:w-10 md:h-10 sm:w-9 sm:h-9 w-7 h-7 flex items-center justify-center bg-blue-dark;
  }
}
@layer utilities {
  .styled-text-ellipsis {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  .styled-text-ellipsis-six {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  /* ------------ Backdrop component --------------*/
  .backdrop {
    @apply fixed top-0 left-0 w-full h-screen z-20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .image-wrapper {
    @apply w-full h-full inset-0 absolute z-10 hidden group-hover:block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
